/* container that takes all the free space */
.container-full {
 	margin: 00 auto;
	width: 90%;
}
/* other attempt */
.container-full {
	width: 2000px;
}

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak {
display: none;
}